name: Upload store MSIX to release

on: 
  release:  
    types: [released]   # Run the action when a GitHub release is published

  schedule:
    - cron:  '0 */6 * * *'  # Run the action every 6 hours

  workflow_dispatch:    # Manually run the action

jobs:
  upload-store-msix-to-release:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3

    - name: Upload store MSIX to release
      uses: JasonWei512/Upload-Microsoft-Store-MSIX-Package-to-GitHub-Release@v1
      with:
        store-id: 9NF7JTB3B17P
        token: ${{ secrets.GITHUB_TOKEN }}
        asset-name-pattern: EnergyStarX_{version}_{arch}